/* Background full fixed */
body {
    margin: 0;
    padding: 0;
    background-image: url("background.png"); 
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-position: center;   
    font-family: 'Open Sans';
}

a,
a:visited,
a:hover,
a:active {
    color: inherit !important;
    text-decoration: none !important;
}

.btn-nostyle {
    background: none;      /* hilangkan background */
    border: none;          /* hilangkan border */
    padding: 0;            /* hilangkan padding */
    margin: 0;
    outline: none;
    box-shadow: none;      /* hilangkan shadow bootstrap */
    cursor: pointer;       /* tetap jadi button */
}

.btn-nostyle:focus,
.btn-nostyle:active {
    background: none;
    border: none;
    box-shadow: none;      /* tetap tidak muncul efek focus bootstrap */
}

.start-btn {
    width: 20vw;   /* bebas sesuaikan */
    height: 28vh;   /* tinggi tombol */
    cursor: pointer;
}

.move-btn {
    width: 13vw;   /* bebas sesuaikan */
    height: 12vh;   /* tinggi tombol */
    cursor: pointer;
}
  
.black-square {
    border: 0.3vw solid black;
    padding: 1.5vh 1vw 0vh 1vw;
    line-height: 1;
}

.text-medium {
    font-size: 2vw;
}

.text-small {
    font-size: 1.8vw;
}

.text-xsmall {
    font-size: 1.4vw;
}

.text-red {
    color: red !important;
}

.tile {
    cursor: move;
  }
.tile img {
    width: 15vw;
    height: 15vw;
}

/* ANIMASI SEMUANYA */
  .menu-tile {
    cursor: pointer;
  }
  
  .menu-tile:hover,
  .menu-tile:focus-visible {
    transform: translateY(-4px);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    background-color: rgba(255,255,255,0.9);
  }

  .menu-tile:active {
    transform: translateY(0);            /* balik ke bawah */
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.1);
  }
  
  .move-left {
    animation: nudgeLeft 3s ease-in-out infinite;
  }

  @keyframes nudgeLeft {
    0%, 100% { transform: translateX(0); }
    50%      { transform: translateX(-1vw); }
  }
  